
#respond {
  background-color: #87CEEB;
  margin-top: 40px;
}

 
#submit{
  height: 30px;
}


#comments-list {list-style: none; margin: 0 1em;}
#comments-list blockquote {
	background: #f8f8f8;
	clear: both;
	font-style: normal;
	margin: 0;
	padding: 15px 20px;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}

#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

/* Add a Comment */
#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
#add-comment input[type='text'],
#add-comment input[type='email'],
#add-comment input[type='url'] {float: left; width: 200px;}

#add-comment textarea {float: left; height: 150px; width: 495px;}

#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
#add-comment * {margin-bottom: .5em;}


#comments {
  background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 100%;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#comments label {
  display: block;
}

#comments label:after { 
  content:" *";
}

#comments ol li:nth-child(2n+1) {
  background-color: #F5F4EF;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='email'],	
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  line-height: 1.4em;
}

#posts-list.has-comments li.no-comments {
  display: none;
}